
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
    font-size: 100%;
    ms-text-size-adjust: 100%;
    webkit-text-size-adjust: 100%;
}

html.ipad {
    min-width: 1250px;
}



/* OLD BOOTSTRAP STYLES */

body {
    margin: 0;
    font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #000;
    font-weight: 300;
}

.navbar .nav > li > a {
    float: none;
    padding: 15px 15px 15px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 #080808;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
    font-weight: 300;
    line-height: 20px;
    color: #fff;
    text-rendering: optimizelegibility;
}

a {
    color: #fff;
}

a:hover, a:focus {
    color: #fff;
}


p {
    margin: 0 0 10px;
}

ul{
    padding:0;
    margin: 0;
}

li{
    list-style: none;
}


.table{
    display: table;
    table-layout: fixed;
    width: 100%;
}

.cell{
    display: table-cell;
    vertical-align: middle;
}


/* ------------------------ MAIN CONTAINERS --------------------------    */

#left{
    margin: 15px 0 0 0;
    width: 100%;
    display : none;
}
#container.opened #left{
    display : block;
}

#center{
    margin: 15px 0 0 0;
}


#footer{
    display: none;
}
#container.opened #footer{
    display : block;
}


#core-fns{
    border-top: 1px solid #F4712D;
    border-bottom: 1px solid #F4712D;
    padding: 10px 0;
    display: none;
}
#container.opened #core-fns{
    display : block;
}

#subMenu{
    display: none;
}

.text-center{
    margin: 0 auto;
    border: 1px solid #F4712D;
    box-sizing: border-box;
    padding: 1px;
    position: relative;
    height: calc(100vh - 220px );
    overflow: auto;
}

#container.crop #core-fns,
#container.crop #footer,
#container.crop #left,
#container.crop #save{
    display: none !important;
}

/*   ----------------------  CORE BUTTONS   --------------------------    */

#save{
    display: none;
}
#container.opened #save{
    display: inline-block;
}

#coreEditorNav{
    font-size: 20px;
    text-align: center;
    text-align: center;
    margin: 0 auto;
}

#colorPalette .cell{
    width  : 20px;
    height : 20px;

}
#colorPalette input{
    width  : 20px;
    height : 20px;
    background-color : #fff;
}


#setStroke{
    width : 100px
}

input#strokeSize{
    width: 30px;
}

#trash_can{
    color: #666;
}

#trash_can.active{
    color: #fff;
    cursor: pointer;
}


/*   ------------------------------------------------    */


#drawingBtns{
    width : 320px;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
}


.logo-header{
    width: 100%;
    display:block;
    background: url(../img/pgs.jpg) no-repeat left center;
    text-align: right;
    padding: 0 5px;
    box-sizing: border-box;
    height: 50px;
}

.logo-header h1{
    line-height: 10px;
    font-size: 14px;

}




.image-editor-modal .tab-content{

    padding: 0 10px;
}

.canvas-container{

    margin: 0 auto;
}

.subBtnsContainer{
    display: table;
    margin: 0 auto;
    position : relative;
}
.subBtnsContainer span{
    display: table-cell;
}
.subBtnsContainer button{
    margin: 0 5px 10px ;
}

.subBtnsContainer span{
    display: table-cell;
}

#cropSubMenu input {
    width : 50px;
}

#drawingCanvas{
    width: 100%;
    height: 100%;
    border: 1px solid #666;
}

#drawSubBtns{
    display: table;
    table-layout: fixed;
    margin: 0 auto;
    font-size: 18px;
}
#drawSubBtns .drawCell{
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
}


#set_lineSize select{
    font-size: 12px;
    width: 40px;
    /* margin: 0 auto; */
    padding: 0;
    line-height: 12px;
    top: 0px;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.draw_icon{
    cursor: pointer;
    margin: 0px 12px;
}
.draw_icon:hover{
    color: #F3BFA6;
}
.draw_icon.active{
    color: #F4702F;
}


#draw_palette button{
    padding: 0;
    height: 20px;
    width: 20px;
    margin: 1px 1px 0 1px;
    line-height: 0;
    box-shadow: none;
    border: 0px;
}
#draw_palette button.active {
    border: 4px inset #000;
}

input#colorpickerCanvas{
    border: 1px solid #fff;
}



#applyCrop:disabled{
    background: rgba(255,255,255, .3);
    color: #ccc;
}

.colorpicker{
    z-index : 9999;
}

.colorpickerLabel{
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    color: black;
    padding: 0 0 0 10px;
    font-weight: normal;
}

#set_lineSize span.lineStrokes{
    display: inline;
    padding: 0 5px;
}


#fileinput{
    position: absolute;
    z-index:  999;
    left: calc(50% - 45px);
    top: calc(50% - 45px);
}

#fileinput:after{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f03e";
    font-size: 90px;
    position: absolute;
    top: 30px;
    left: 0;
}


#currentZoom{
    position: absolute;
    right: -40px;
    top: 7px;
}

@media screen and (min-width: 1025px) {

    .text-center{
    }
}

@media screen and (max-width: 1024px) {
    #drawSubBtns{
        width: 100%;
    }
    #drawSubBtns .cell{

        text-align: center;
        margin: 0;
        padding: 0px;
        height: 40px;
        line-height: 20px;
    }

    #draw_palette.cell{
        clear: both;

        text-align: left;
        max-width: 250px;
    }
    .paletteTable{
        padding: 0;
        margin: 0px;
    }
}

@media screen and (max-width: 666px) {

    #coreEditorNav{
        width : 320px;
    }

    #colorPalette{
        width: 50px;
    }
    #colorPalette .cell{
        display: none;
    }

    #colorPalette #colorpickerCanvas.cell{
        display: block;
        margin: 0 auto;
    }

    .text-center{
        padding: 10px;
        height: calc(100vh - 200px);
    }
}


@media screen and (min-width: 667px) {

    #colorPalette{
        width: 270px;
    }

    #coreEditorNav{
        max-width: 500px;
    }

    .logo-header h1{
        text-align: center;
    }
}
