<!--<link href="/vendor/cropper/cropper.min.css" rel="stylesheet">-->
<link href="/vendor/bootstrap-slider/css/bootstrap-slider.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!--<script src="/vendor/cropper/cropper.min.js"></script>-->
<script src="/vendor/bootstrap-slider/bootstrap-slider.min.js"></script>

<!--
<link href="/js/colorpicker/css/colorpicker.css" rel="stylesheet">
<script src="/js/colorpicker/js/colorpicker.js"></script>

<link href="/js/spectrum.css" rel="stylesheet">
<script src="/js/spectrum.js"></script>
-->





<div class="modal-dialog image-editor-modal">
    <div class="modal-content">
        <?php if ($this->identity()->isCompanyAdministrator()) : ?>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4><?= $this->translate('Edit image') ?></h4>
        </div>
        <div class="modal-body text-center" style="padding: 0; background-color: #dddddd;">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-pills" role="tablist" id="imageEditorNav">
                        <li role="presentation" data-id="rotate">
                            <a href="#rotate" aria-controls="rotate" role="tab" data-toggle="tab" title="<?= $this->translate('Rotate image') ?>"><i class="fa fa-refresh"></i></a>
                        </li>
                        <li role="presentation" data-id="resize">
                            <a href="#resize" aria-controls="resize" role="tab" data-toggle="tab" title="<?= $this->translate('Resize image') ?>"><i class="fa fa-expand"></i></a>
                        </li>
                        <li role="presentation" data-id="crop">
                            <a href="#crop" aria-controls="crop" role="tab" data-toggle="tab" title="<?= $this->translate('Crop image') ?>"><i class="fa fa-crop"></i></a>
                        </li>
                        <li role="presentation" data-id="paint" class=""> <!-- visible-md visible-lg -->
                            <a href="#paint" aria-controls="paint" role="tab" data-toggle="tab" title="<?= $this->translate('Paint image') ?>"><i class="fa fa-paint-brush"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-body text-center" style="padding: 0;">
            <div class="row">
                <div class="col-sm-12" style="min-height: 0;">
                    <div class="tab-content">
                        <div id="crop" class="tab-pane fade">
                            <p style="margin-top: 10px;" id="cropSubMenu" class="subBtnsContainer">
                                <button id="applyCrop">Apply Crop</button>
                            </p>
                        </div>
                        <div id="rotate" class="tab-pane fade">
                            <p style="margin-top: 10px;" class="subBtnsContainer">
                                <span class="imageEditorControl" id="rotateLeft" style="font-size: 2em;"><i class="fa fa-undo"></i></span>
                                <span style="display: inline-block; width: 2px; height: 20px; margin: 0 5px; background-color: #dddddd;"></span>
                                <span class="imageEditorControl" id="rotateRight" style="font-size: 2em;"><i class="fa fa-repeat"></i></span>
                            </p>
                        </div>
                        <div id="resize" class="tab-pane fade">
                            <p style="margin-top: 10px;" class="subBtnsContainer">
                                <i class="fa fa-picture-o" style="padding-right: 20px; padding-left: 10px;"></i>
                                <input id="resizeControl" data-slider-id='resizeControlSlider' type="text"  data-slider-min="100" data-slider-max="200" data-slider-step="10" data-slider-value="100" data-slider-tooltip="hide"/>
                                <span style="padding-left: 20px; padding-right: 10px; font-size: 2em;"><i class="fa fa-picture-o"></i></span>
                            </p>
                        </div>
                        <div id="paint" class="tab-pane fade "> <!-- visible-md visible-lg -->
                            <p style="margin-top: 10px;" id="drawSubBtns" class="subBtnsContainer">

                                    <span id="draw_btns" class="drawCell">
                                        <span id="draw_text" title="Add Text Box" class="draw_icon fa fa-font" ></span>
                                        <span id="draw_freely" title="Free Draw" class="draw_icon fa fa-pencil" ></span>
                                        <span id="draw_arrow" title="Add Arrow" class="draw_icon fa fa-arrow-right" ></span>
                                        <span id="draw_circle" title="Add Circle" class="draw_icon fa fa-circle-o" ></span>
                                        <span id="draw_square" title="Add Square"  class="draw_icon fa fa-square-o" ></span>
                                        <span id="draw_line" title="Add Line" class="draw_icon fa fa-minus" ></span>

                                    </span>

                                    <span id="set_lineSize" class=" drawCell" >
                                        <span class="lineStrokes fa fa-minus"></span>
                                        <select id="strokeSize">
                                            <optgroup label="Size">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5" selected>5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </optgroup>
                                        </select>
                                    </span>

                                    <span id="draw_palette" class="drawCell" >

                                        <span class="paletteTable">

                                            <button class="paletteCell" name="black" value="#000000"></button>
                                            <button class="paletteCell"   name="gray" value="#808080"></button>
                                            <button class="paletteCell"   name="red" value="#ff0000"></button>
                                            <button class="paletteCell"   name="yellow" value="#ffA500"></button>
                                            <button  class="paletteCell"  name="yellow" value="#ffff00"></button>
                                            <button class="paletteCell"   name="green" value="#008000"></button>
                                            <button class="paletteCell"   name="skyblue" value="#00FFFF"></button>
                                            <button class="paletteCell"   name="blue" value="#0000FF"></button>
                                            <button class="paletteCell"   name="purple" value="#800080"></button>
                                            <span  class="paletteCell" >
                                                <label title="Open Color Picker" class="colorpickerLabel" for="colorpickerCanvas">more</label>
                                                <input  type="color" id="colorpickerCanvas" name="colorpicker" value="#FF0000">
                                            </span>

                                        </span>

                                    </span>
                                    <span id="trash_can" class="drawCell" title="Delete Selected Objects">
                                        <i class="fa fa-trash"></i>
                                    </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php endif; ?>
        <div id="imageContainer" class="modal-footer">
            <div class="text-center">

                <canvas id="drawingCanvas" ></canvas>

                <img  id="image" style="opacity: 0; position: absolute;z-index: -1;" src="/files/<?= $this->image->getPathInfo('basename') ?>?<?= uniqid() ?>" alt="<?= $this->translate('Image') ?>">
            </div>
        </div>

        <?php if ($this->identity()->isCompanyAdministrator()) : ?>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><?= $this->translate('Cancel') ?></button>
            <button type="button" class="btn btn-primary" id="cropConfirmButton" data-href="/image/edit/<?= $this->imageType ?>/<?= $this->image->getId() ?>"><?= $this->translate('Save') ?></button>
        </div>
        <?php endif; ?>
    </div>
</div>

<script>

    /*
     *
     * Tested on all browsers and works great, except safari on mobile devices
     *
     * known issue:  change in orientation portrait<->landscape when in paint mode causes strange behavior in the dom
     *
     *
     *
     *
     *
     * */

    $(document).ready(function() {
        /////////////////////////////////----------------------------------------------///////////////////////////////
        (function($) {
            $.getStylesheet = function (href) {
                var $d = $.Deferred();
                var $link = $('<link/>', {
                    rel: 'stylesheet',
                    type: 'text/css',
                    href: href
                }).appendTo('head');
                $d.resolve($link);
                return $d.promise();
            };
        })(jQuery);

        // first wait for the image to completely load
        // then start the script
        var imageEditorClass;

        function startCanvas() {

            //initialize the image Editor class below

            var _imageEditorClass = new imageEditorClass();
        }

        function loadFabricJs() {

            $.when(
                    $.getScript( "https://cdn.css.net/libs/fabric.js/1.6.0-rc.1/fabric.min.js" ),
                    $.getScript( "https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js" ),
                    $.getStylesheet("https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css"),

                    $.Deferred(function( deferred ){
                        $( deferred.resolve );
                    })
            ).then(function(){

                startCanvas();

            });
        }


        /* wait for the image to load completely then load the file */
        var tmpImg = new Image() ;


        tmpImg.onload = function() {
            //console.log( this.width, this.height);

            // Run onload code.
            $("#image").attr('wwidth', this.width);
            $("#image").attr('hheight', this.height);

            //get the number of `<script>` elements that have the correct `src` attribute
            var len = $('script').filter(function () {
                return ($(this).attr('src') == 'http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js');
            }).length;

            if(len == 0 && (window.fabric == null || typeof window.fabric == "undefined") ){
                //console.log("no fabricjs");
                loadFabricJs();
            }
            else{
                startCanvas();
            }
        } ;
        //must be defined below onload function
        tmpImg.src = $( "#image" ).attr('src') ;



        /*
         used library:  https://github.com/kangax/fabric.js | http://fabricjs.com/


         //all click and event listeners are in the end of the script

         functionality:

         1. gets the image loaded
         2. sets canvas size and working area to the image width & height
         3. first the user should rotate the image than perform all other modifications

         #adding shapes:  arrow \ line \ square \ circle \ text

         -- click on the respective icon then on the canvas where you wish the object to be placed

         #free draw

         -- select the pencil icon then click and keep the mouse right button clicked to draw

         #set default color

         -- deselect any active objects than select the color you wish.
         -- then all subsequent objects will initialize with the specified color

         #set default border width

         -- deselect any active objects than select the size you wish.
         -- then all subsequent objects will initialize with the specified border width


         #deselect current active submenu ex. line | arrow | free draw

         -- opt1.  click on the active icon
         -- opt2.  press escape


         #delete objects

         --select one or a group of objects and either press "Delete" from keyboard or Click on the "Trash Icon" on the right

         */
        imageEditorClass = function(){

            var $image =  $('#imageContainer').find("#image");

            var _canvasWidth  = Number($image.attr("wwidth") );
            var _canvasHeight = Number($image.attr("hheight")  );

            //keep the initial width & height for reference
            var originalWidth   = _canvasWidth;
            var originalHeight  = _canvasHeight;

            var $drawingCanvas = $('#drawingCanvas');

            var canvas  = new fabric.Canvas('drawingCanvas', {
                width: _canvasWidth,
                height: _canvasHeight
            });

            var $canvasContainer = $('.canvas-container');

            var activeAction = false;

            //default border color, when you select the object
            var _borderColor = 'red';
            var _strokeColor = 'rgba(0,0,0,1)';
            var _strokeWidth = 5;

            var _lastScaleEventTime = 0;

            var clipRect = null;

            //keeps track of the current scaling, updated while resizing
            var currentScaling = 1;

            //initial values used when adding objects to the canvas
            var _x = 0;
            var _y = 0;
            var _width = 100;
            var _height = 100;
            var _circRadius = 50;

            var imgInstance;

            var clipOffset = 8;

            var _cornerSize = 12;

            var isScaling = false;

            var _cleft = clipOffset,
                    _ctop = clipOffset,
                    _cwidth = _canvasWidth - (clipOffset * 2),
                    _cheight = _canvasHeight - (clipOffset * 2);

            //canvas observe

            canvas.observe('object:added', function (e) {

                e.target._origStrokeWidth = e.target.strokeWidth;

                updateObjectOriginals(e);

            });

            canvas.observe('object:moving', function (e) {

                updateObjectOriginals(e);
            });

            canvas.observe('object:selected', function (e) {
                //

                clearActiveAction();

                $('#trash_can').addClass("active");

                //console.log( Math.ceil( e.target.strokeWidth ) );
                //
                setSelectedStroke( Math.ceil( e.target.strokeWidth ) );

            });

            canvas.observe('selection:cleared', function (e) {

                $('#trash_can').removeClass("active");

                setSelectedStroke(_strokeWidth);
            });

            canvas.on('object:scaling', function (e) {

                e.target._scaleX = e.target.scaleX ;
                e.target._scaleY = e.target.scaleY ;

                e.target._left   = e.target.getLeft();
                e.target._top    = e.target.getTop();

                if(e.target.isclipper === false){
                    e.target.resizeToScale();
                }

            });

            // Do some initializing stuff
            fabric.Object.prototype.set({
                transparentCorners: false,
                cornerColor: 'rgba(102,153,255,1)',
                cornerSize : _cornerSize
            });


            // customise fabric.Object with a method to resize rather than just scale after tranformation
            fabric.Object.prototype.resizeToScale = function () {

                if  (this.type ==='group') {
                    this._objects.forEach( function(obj){

                        obj.strokeWidth = Math.ceil( obj._origStrokeWidth / Math.max(obj.group.scaleX, obj.group.scaleY) );
                    });
                }
                else {
                    this.strokeWidth = Math.ceil( this._origStrokeWidth / Math.max(this.scaleX, this.scaleY) );
                }
            }


            //adding clipping area

            //its best if this clipping rectangle is the first object to be added to canvas
            //it will be invisible and unselectable until clicking the Crop Button


            clipRect = new fabric.Rect({
                left: _cleft,
                top: _ctop,
                fill: null,
                width: _cwidth,
                height: _cheight,
                lockRotation: true,
                borderColor: 'red',
                cornerColor: 'red',
                cornerSize : 12,
                transparentCorners: true,
                selectable: false,
                lockScalingFlip : true,
                isclipper : true,
                centeredScaling: false
            });

            canvas.add(clipRect);

            clipRect.on('scaling', function(event) {

                var diff = event.e.timeStamp - _lastScaleEventTime;

                if(diff > 20){

                    _lastScaleEventTime = event.e.timeStamp;
                    calcClippingScale(this, event);
                }
            });
            clipRect.on('moving', function() {

                calcClippingMove(this);
            });


            //functions

            function updateObjectOriginals(e){
                e.target._left    = e.target.getLeft();
                e.target._top     = e.target.getTop();
                e.target._width   = e.target.getWidth();
                e.target._height  = e.target.getHeight();
                e.target._scaleX  = e.target.scaleX;
                e.target._scaleY  = e.target.scaleY;
            }


            function setSelectedStroke(nr) {

                $('#strokeSize option:selected').prop("selected", false);

                if( canvas.getActiveGroup() ){

                    if($("#selectedDash").length < 1){
                        $("#strokeSize").find("optgroup").prepend('<option id="selectedDash" value="5" selected>-</option>');
                    }
                }
                else{
                    $('#strokeSize option[value="'+nr+'"]').prop("selected", true);

                    if($("#selectedDash").length > 0){
                        $("#selectedDash").remove();
                    }
                }

            }


            function calcClippingScale(ob, event) {
                // than bound to canvas size
                //don't let it scale beyond
                var cw =   canvas.getWidth();
                var ch =   canvas.getHeight();

                var pointer = canvas.getPointer(event.e);
                var posX = pointer.x;
                var posY = pointer.y;

                if( (posY-clipOffset) < 0 || (posY+clipOffset) > ch){

                    ob.lockScalingY = true;

                    //console.log(ob);

                    if( (posY-clipOffset) <  0){
                        ob.set({
                            top : clipOffset,
                        });

                        ob.setCoords();

                        if(ob.getHeight() > ch){
                            ob.scaleToHeight( (ch-clipOffset*2 ) );
                            ob.set({
                                scaleX : ob.originalState.scaleX,
                            });
                            ob.setCoords();
                        }
                    }

                }
                else{
                    ob.lockScalingY = false;
                }

                if( (posX-clipOffset) < 0 || (posX+clipOffset) > cw){

                    ob.lockScalingX = true;

                    if((posX-clipOffset) < 0) {

                        ob.set({
                            left : clipOffset
                        });

                        ob.setCoords();

                        if(ob.getHeight() > cw){
                            ob.scaleToWidth( (cw-clipOffset*2 ) );
                            ob.set({
                                scaleY : ob.originalState.scaleY,
                            });
                            ob.setCoords();
                        }

                    }

                    if( (posX + clipOffset ) > cw ){

                        ob.scaleToWidth(cw - clipOffset*2 );
                    }
                }
                else{
                    ob.lockScalingX = false;
                }

                clipCanvas();
            }

            function calcClippingMove(ob) {

                var obw  = Math.round( ob.width  * ob.scaleX  )  ;
                var obh = Math.round( ob.height * ob.scaleY )  ;

                var cw =   canvas.getWidth();
                var ch =   canvas.getHeight();

                //constrain movement top bottom
                if( (ob.top - clipOffset) <  0){
                    ob.top = clipOffset;
                }
                if( (obh + ob.top + clipOffset*2) >= ch  ){
                    ob.top = ch - obh - clipOffset;
                }

                //constrain movement left right
                if( (ob.left-clipOffset) < 0){
                    ob.left = clipOffset;
                }
                else if( (obw + ob.left + clipOffset*2) >= cw ){
                    ob.left = cw  - obw - clipOffset;
                }

                clipCanvas();
            }


            function clipCanvas(){

                if(clipRect == null || typeof clipRect == "undefined"){
                    return false;
                }
                _cwidth  = Math.ceil( clipRect.width * clipRect.scaleX ) + clipOffset*2;
                _cheight = Math.ceil( clipRect.height * clipRect.scaleY ) + clipOffset*2;
                _cleft   = clipRect.left - clipOffset;
                _ctop    = clipRect.top - clipOffset;

                //console.log(  _cwidth, _cheight, _cleft, _ctop );

                // clips the canvas based on this rectangle area
                canvas.clipTo = function (ctx) {
                    ctx.rect(_cleft, _ctop, _cwidth, _cheight );
                }
                canvas.renderAll();
            }

            function removeClippling() {

                //console.log('remove Clippling');
                //$('#imageEditorNav').find('li.active').removeClass("active");

                clearActiveAction();

                if(clipRect){

                    canvas.sendToBack(clipRect).renderAll();

                    clipRect.selectable = false;

                    //clipRect.remove();
                }

                canvas.deactivateAllWithDispatch().renderAll();

            }


            ////--------------

            function addTheImage(){
                //add the image
                var imgElement = $('.text-center').find('img#image');

                if(imgElement.length == 1){
                    imgInstance = new fabric.Image(imgElement[0], {
                        left: originalWidth/2,
                        top: originalHeight/2,
                        angle: 0,
                        opacity: 1,
                        selectable : false,
                        lockScalingX : true,
                        lockScalingY : true,
                        lockMovementX : true,
                        lockMovementY : true,
                        centeredRotation: true,
                        centeredScaling: true,
                        originX: "center",
                        originY: "center"
                    });
                    canvas.add(imgInstance);

                    canvas.sendToBack(imgInstance);

                    imgElement.remove();

                }
            }

            function unLockImage(){

                imgInstance.set({
                    selectable : true,
                    lockScalingX : false,
                    lockScalingY : false,
                    lockMovementX : false,
                    lockMovementY : false
                });
            }

            function lockImage(){
                imgInstance.set({
                    selectable: false,
                    lockScalingX: true,
                    lockScalingY: true,
                    lockMovementX: true,
                    lockMovementY: true
                });
            }

            ///----------

            function resizeCanvas( w, h) {

                //update variables
                _canvasWidth = w;
                _canvasHeight= h;

                //update canvas elements
                canvas.setDimensions({width:w, height:h} );


                //update dom
                $canvasContainer.find('canvas').width(w).css('width', w);
                $canvasContainer.find('canvas').height(h).css('height', h );

                $canvasContainer.width( w ).css('width', w );
                $canvasContainer.height( h ).css('height', h );

                //zoomIt(1);
                //canvas.calcOffset();
                canvas.renderAll();
                //console.log( imgInstance.getWidth(), imgInstance.scaleX, canvas.width, w );
            }

            function rotateCallback() {  /*//dont remove is needed */ }

            function resizeCallback() {

                unLockImage();
            }

            function cropCallback(type) {

                canvas.deactivateAllWithDispatch().renderAll();

                canvas.bringToFront(clipRect);
                clipRect.selectable = true;

                clipRect.setCoords();

                canvas.setActiveObject( clipRect ).renderAll();

                $("#applyCrop").prop("disabled", false);
            }


            function rotateImage(degree) {

                /*
                 when using canvas the canvas itself normaly doesn't change size or rotate
                 but we are changing the size of the of the canvas to fit the image every time the image rotate
                 when canvas changes size all images inside are resized in propotion to the new width and height

                 so:
                 1: we need to rotate the image
                 2: reset the cavas width/height based on the rotation
                 3: scale the image after rotation properly to fit the canvas
                 */

                var newdeg = imgInstance.getAngle() + degree;

                if(newdeg == 360){
                    newdeg = 0;
                }


                //2. resize canvas first
                resizeCanvas( canvas.getHeight(), canvas.getWidth());

                //3.scale the image after rotation properly to fit the canvas
                canvas.centerObject(imgInstance);

                imgInstance.setAngle(newdeg) ;
                imgInstance.setCoords();


                clipRect.scaleX = currentScaling;
                clipRect.scaleY = currentScaling;
                clipRect.top = clipOffset;
                clipRect.left = clipOffset;
                clipRect.width = (_canvasWidth - clipOffset*2) / currentScaling;
                clipRect.height= (_canvasHeight - clipOffset*2) / currentScaling;

                canvas.renderAll();

                clipCanvas();
            }

            //---

            function paintCallback() {

            }
            function disableFreeDraw() {

                canvas.isDrawingMode = false;

                canvas.renderAll();
            }

            function clearActiveSubmenu() {
                //remove current active
                $('.draw_icon').removeClass('active');

            }

            function clearActiveAction () {
                clearActiveSubmenu();
                activeAction = false;
                canvas.isDrawingMode = false;
            }

            function toggleActive(el) {

                clearActiveSubmenu();

                //add new active
                el.addClass('active');
            }

            function setStokeForActiveObject(newColor) {

                if(canvas.getActiveObject() ) {

                    var obj = canvas.getActiveObject();

                    if(obj.type === "group"){

                        var nr = obj.size() - 1;

                        while(nr >= 0){

                            if(obj.item(nr).stroke !== null ) {
                                obj.item(nr).set("stroke", newColor);
                            }

                            if(obj.item(nr).fill !== null){
                                obj.item(nr).set("fill", newColor);
                            }

                            nr--;
                        }
                        canvas.renderAll();
                    }
                    else{
                        if(obj.stroke !== null ) {
                            obj.set("stroke", newColor);
                        }

                        if(obj.fill !== null){
                            obj.set("fill", newColor);
                        }

                        canvas.renderAll();
                    }
                }
                else if(canvas.getActiveGroup() ){

                    canvas.getActiveGroup().forEachObject(function(o){

                        o.set("stroke", newColor);

                        if(o.fill !== null){
                            o.set("fill", newColor);
                        }

                    });
                    canvas.renderAll();
                }
                else{

                    //if there's no object selected
                    //then change the default stroke color
                    _strokeColor = newColor;
                    canvas.freeDrawingBrush.color = newColor;
                }
            }

            function drawText() {
                var itext = new fabric.IText("write here...", {
                    left: _x,
                    top: _y,
                    fontSize: 20,
                    fill: _strokeColor,
                    strokeWidth : 0
                });
                canvas.add(itext);
            }

            function drawSquare() {

                //first disable free draw mode
                disableFreeDraw();

                // create a rectangle object
                var rect = new fabric.Rect({
                    left: _x,
                    top: _y,
                    fill: null,
                    width: _width,
                    height: _height,
                    borderColor: _borderColor,
                    strokeWidth: _strokeWidth,
                    _origStrokeWidth : _strokeWidth,
                    stroke:_strokeColor ,
                    'selectable': true
                });

                // "add" rectangle onto canvas
                canvas.add(rect);
            }

            function drawCircle() {
                //console.log("draw circle");

                //first disable free draw mode
                disableFreeDraw();

                // create a rectangle object
                var Circle = new fabric.Circle({
                    left: _x,
                    top: _y,
                    fill: null,
                    radius: _circRadius,
                    strokeWidth: _strokeWidth,
                    stroke: _strokeColor,
                    borderColor: _borderColor,
                    'selectable': true
                });

                // "add" rectangle onto canvas
                canvas.add(Circle);
            }

            function drawLine() {
                //console.log("draw line");

                //first disable free draw mode
                disableFreeDraw();

                var line = new fabric.Line([0,100, 0, 0 ],{
                    left: _x,
                    top: _y,
                    strokeWidth: _strokeWidth,
                    stroke: _strokeColor,
                    borderColor: _borderColor,
                    fill : null,
                    'selectable': true
                });

                canvas.add(line);
            }

            function drawFreely() {

                canvas.isDrawingMode          = true;  // **Enables line drawing
                canvas.freeDrawingBrush.width = _strokeWidth;
                canvas.freeDrawingBrush.color = _strokeColor;

                //Adding code to alter line properties

                canvas.on('path:created',function(e){
                    if(canvas.isDrawingMode == true){
                        var line1= e.path;
                        line1.lockScalingX;
                        line1.lockScalingY;
                    }
                });
            }


            function deleteActive() {

                if(canvas.getActiveObject() ){

                    var actobj = canvas.getActiveObject();

                    canvas.remove(actobj);
                }
                else if(canvas.getActiveGroup() ){
                    canvas.getActiveGroup().forEachObject(function(o){ canvas.remove(o) });
                    canvas.discardActiveGroup().renderAll();
                }

            }

            function drawArrow() {

                //first disable free draw mode
                disableFreeDraw();

                var line,
                        arrow,
                        circle,
                        deltaX,
                        deltaY;

                line = new fabric.Line([0, 0, 100, 0], {
                    stroke: _strokeColor,
                    selectable: true,
                    strokeWidth: '3',
                    padding: 5,
                    hasBorders: false,
                    hasControls: false,
                    originX: 'center',
                    originY: 'center',
                });

                var centerX = (line.x1 + line.x2) / 2,
                        centerY = (line.y1 + line.y2) / 2;
                deltaX = line.left - centerX,
                        deltaY = line.top - centerY;

                arrow = new fabric.Triangle({
                    left: line.get('x1') + deltaX,
                    top: line.get('y1') + deltaY,
                    originX: 'center',
                    originY: 'center',
                    hasBorders: false,
                    hasControls: false,
                    pointType: 'arrow_start',
                    strokeWidth: 0,
                    angle: -90,
                    width: 20,
                    height: 20,
                    fill: _strokeColor
                });

                circle = new fabric.Circle({
                    left: line.get('x2') + deltaX,
                    top: line.get('y2') + deltaY,
                    radius: 3,
                    strokeWidth: 3,
                    originX: 'center',
                    originY: 'center',
                    hasBorders: false,
                    hasControls: false,
                    pointType: 'arrow_end',
                    stroke: _strokeColor
                });

                line.customType = arrow.customType = circle.customType = 'arrow';


                var group = new fabric.Group([ line,  circle, arrow ], {
                    left: _x,
                    top: _y,
                    strokeWidth: 3
                });

                canvas.add(group);

            }


            ////
            function executeAction() {
                switch(activeAction){

                    case "draw_text":
                        drawText();
                        break;

                    case "draw_circle":
                        drawCircle();
                        break;

                    case "draw_square":
                        drawSquare();
                        break;

                    case "draw_line":
                        drawLine();
                        break;

                    case "draw_arrow":
                        drawArrow();
                        break;

                    case "draw_freely":
                        drawFreely();
                        break;

                    default:
                        break;
                }
            }


            //initialize the app by adding the image
            addTheImage();


            /* -----  EVENT LISTENERS BELOW ----- */

            //set background color for buttons
            //getting it automatically from [value="#..."]
            $('#draw_palette button').each( function ( index ) {
                var el = $(this);
                var bgcol = el.val();
                el.css('background-color', bgcol);
            });

            $(".draw_icon").on('click', function ( e ) {
                //console.log(e);
                e.preventDefault();

                var el = $(this);

                var id = el.attr('id');

                //if not parent
                if(id != "draw_btns"){

                    if(el.hasClass("active")){

                        el.removeClass("active");

                        //reset active action
                        activeAction = false;

                        disableFreeDraw();

                    }
                    else{
                        if(canvas.isDrawingMode == true){
                            //make sure to always disable free draw
                            disableFreeDraw();
                        }
                        console.log("before action");
                        activeAction = id;
                        toggleActive( el );
                    }
                }
            });

            $('#draw_palette').on('click', 'button', function (  evn) {

                var el = $(this);

                var newColor = new fabric.Color(el.val()).toRgb();

                setStokeForActiveObject( newColor );

                //if there are no selected objects, then set the active color
                if(!canvas.getActiveObject() && !canvas.getActiveGroup() ){

                    var parent = el.parent();

                    parent.find(".active").removeClass("active");

                    el.addClass("active");
                }
            });


            $("#colorpickerCanvas").spectrum({

                move: function (color) {

                    var newColor = new fabric.Color( color.toHexString() ).toRgb();
                    setStokeForActiveObject( newColor );
                },

                change: function (color) {
                    var newColor = new fabric.Color( color.toHexString() ).toRgb();
                    setStokeForActiveObject( newColor );
                }
            });

            $(".colorpickerLabel").click(function() {

                $("#colorpickerCanvas").spectrum("toggle");
                return false;
            });
            /**/
            //hide selector
            $('.sp-replacer').fadeTo( "fast" , 0 );


            /////

            $('.canvas-container').on('click', function (  e ) {

                var offset = $(this).offset();

                // Then refer to
                _x = (e.pageX - offset.left) / currentScaling;
                _y = (e.pageY - offset.top) /  currentScaling ;

                executeAction();
            });


            function changeObjectStroke(obj, stVal){

                var newStroke = Number(stVal) / Math.max(obj.scaleX, obj.scaleY);

                if(obj.type === "group"){

                    var nr = obj.size() - 1;
                    while(nr >= 0){
                        obj.item(nr).strokeWidth = newStroke;
                        nr--;
                    }

                    obj._origStrokeWidth = newStroke;
                }
                else{

                    obj.strokeWidth = newStroke;

                    obj._origStrokeWidth = newStroke;
                }
            }

            $('#strokeSize').on('change', function() {

                var newVal = this.value;

                if(canvas.getActiveObject()    ) {

                    //if there is active element
                    var obj = canvas.getActiveObject();

                    changeObjectStroke(obj, newVal);

                    //display change
                    canvas.renderAll();
                }
                else if(canvas.getActiveGroup() ){

                    canvas.getActiveGroup().forEachObject(function(o){

                        changeObjectStroke(o, newVal);

                    });
                    canvas.renderAll();
                }
                else{
                    _strokeWidth = Number(this.value);
                    canvas.freeDrawingBrush.width = _strokeWidth;
                }
            });


            ///trash

            $('#trash_can').on('click', function () {
                if( $(this).hasClass("active") ){
                    deleteActive();
                }
            });

            $("#applyCrop").on('click', function () {
                removeClippling();
                $(this).prop("disabled", true);
            });


            //// delete key

            $('html').keyup(function(e){

                if(e.keyCode == 27){
                    // esc
                    if($('.draw_icon.active').length > 0 ){
                        clearActiveAction();
                    }
                }
                else if (e.keyCode === 13){
                    // enter
                    // don't use it, looks like there's a conflict
                }
            });

            /////

            function zoomIt(factor, delta) {

                //var newHeight = Math.round( (canvas.getHeight() + originalHeight * delta) * 10) / 10;
                //var newWidth  = Math.round( (canvas.getWidth() + originalWidth * delta) * 10) / 10;

                //if(newHeight < originalHeight) newHeight = originalHeight;
                //if(newWidth < originalWidth) newWidth = originalWidth;

                //update variables
                //_canvasWidth = newHeight;
                //_canvasHeight= newWidth;


                //canvas.setDimensions({width:newWidth, height:newHeight} );
                //canvas.calcOffset();
                //canvas.renderAll();

                if (canvas.backgroundImage) {
                    // Need to scale background images as well
                    var bi = canvas.backgroundImage;
                    bi.width = bi.width * factor;
                    bi.height = bi.height * factor;
                }

                var objects = canvas.getObjects();

                for (var i in objects) {
                    var scaleX = objects[i].scaleX;
                    var scaleY = objects[i].scaleY;
                    var left = objects[i].getLeft();
                    var top = objects[i].getTop();
                    var _left = objects[i]._left;
                    var _top = objects[i]._top;
                    var _scaleX= objects[i]._scaleX;
                    var _scaleY = objects[i]._scaleY;

                    var tempScaleX =  Math.round( (scaleX +_scaleX * delta) * 100) / 100;
                    var tempScaleY = Math.round( (scaleY + _scaleY * delta) * 100) / 100;
                    var tempLeft = Math.round( (left + _left * delta) * 100) / 100;
                    var tempTop = Math.round( (top + _top * delta) * 100) / 100;

                    if(tempScaleX < 1) tempScaleX = 1;
                    if(tempScaleY < 1) tempScaleY = 1;

                    /*
                     if(objects[i].get("type") == "rect"){
                     console.log(left, top, tempLeft, tempTop, factor , objects[i].originX  );
                     }
                     */

                    if( objects[i].isclipper ){
                        objects[i].left = Math.round( (tempLeft - clipOffset*delta) * 100) / 100;
                        objects[i].top = Math.round( (tempTop  - clipOffset*delta) * 100) / 100;
                    }
                    else{
                        objects[i].left = tempLeft ;
                        objects[i].top = tempTop ;

                        objects[i].scaleX = tempScaleX;
                        objects[i].scaleY = tempScaleY;
                    }

                    objects[i].setCoords();
                }

                //canvas.centerObject(imgInstance);
                //imgInstance.setCoords();

                imgInstance.selectable = true;

                //optimise clipping rect

                canvas.calcOffset();
                canvas.renderAll();
            }


            if ($("#resizeControl").length) {

                $("#resizeControl").slider({
                    formatter: function(value) {
                        return value + '%';
                    }
                }).on('change', function(result) {

                    var delta =  result.value.newValue - result.value.oldValue;

                    //console.log( result.value, 1+ Math.round( (delta/100) * 10 )/10 );
                    zoomIt(   1+ Math.round( (delta/100) * 10 )/10 , Math.round( (delta/100) * 10 )/10 );

                    //clipCanvas();
                });
            }


            $('#cropConfirmButton').on('click', function() {

                removeClippling();

                //console.log('export image',_cwidth, _cheight);
                if (!fabric.Canvas.supports('toDataURL')) {
                    alert('This browser doesn\'t provide means to serialize canvas to an image');
                }
                else {

                    var url = $(this).data('href');
                    var cropperData = canvas.toDataURL({
                        format: 'png',
                        left: _cleft,
                        top: _ctop,
                        width: _cwidth,
                        height: _cheight,
                        multiplier: currentScaling
                    });
                    //cropperData.zoom = $("#resizeControl").val();
                    $.ajax({
                        type: 'post',
                        url: url,
                        data: {
                            image: cropperData
                        },
                        success: function(result) {
                            //console.log(result);
                        }
                    });

                }
            });

            $('#rotateLeft').on('click', function() {
                rotateImage(-90);
            });

            $('#rotateRight').on('click', function() {
                rotateImage(90);
            });

            $('#imageEditorNav li').on('click', function (e) {

                e.preventDefault();
                e.stopImmediatePropagation();

                //make sure the image is not selectable
                lockImage();

                //deselect and remove all actions of crop
                removeClippling();

                var el = $(this);

                var tab  = $(this).find('a');

                tab.tab('show');

                var callback = el.data('id') + 'Callback()';

                //turn string into function and call
                eval( callback );
            });
        }

    });

</script>