html {
    font-size: 100%;
    ms-text-size-adjust: 100%;
    webkit-text-size-adjust: 100%;
}

html.ipad {
    min-width: 1250px;
    webkit-text-size-adjust: none;
}

/* OLD BOOTSTRAP STYLES */

body {
    margin: 0;
    font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    font-weight: 300;
}

.navbar .nav > li > a {
    float: none;
    padding: 15px 15px 15px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 #080808;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
    font-weight: 300;
    line-height: 20px;
    color: #080808;
    text-rendering: optimizelegibility;
}

a {
    color: #007fff;
}

a:hover, a:focus {
    color: #06c;
}

/* END OF OLD BOOTSTRAP STYLES */

p {
    margin: 0 0 10px;
}

.table-main th {
    background-color: #bebebe;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.table-main tbody {
    background-color: #f5f5f5;
}

.row-fluid .span2-5 {
    width: 20%;
    *width: 20%;
}

.at-bottom {
    z-index: 400;
}

.at-top {
    position: relative;
    z-index: 500;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner, .navbar-inner {
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1) !important;
}

.navbar {
    border-top: 0;
    /*min-width: 800px;*/
}

.navbar .nav > li:hover {
    opacity: 0.7;
}

.container {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*zoom: 1;*/
    /*min-width: 800px;*/
}

.container:before, .container:after {
    content: "";
    display: table;
    line-height: 0;
}

.container:after {
    clear: both;
}

.container-fluid {
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*zoom: 1;*/
    /*min-width: 760px;*/
}

.container-clear {
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
    /*zoom: 1;*/
    /*min-width: 800px;*/
}

.container-fluid:before, .container-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}

.container-fluid:after {
    clear: both;
}

.navbar .divider-vertical {
    height: 75px;
    border-right: 1px solid #222222;
    border-left: 1px solid #333333;
}

.nav-tabs > li > a {
    color: #bbbbbb;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
    border-bottom: 2px solid #aaa;
    margin-left: 2px;
}

.row-main {
    width: 1000px;
}

.nav-tabs > li.active > a.magenta-link,
a.magenta-link h3 {
    color: #aa1f4d;
}

a.magenta-link:hover {
    text-decoration: underline;
    color: #aa1f4d;
}

.table-main {

}

.table-main table {

}

.JColResizer td {
    border-left: 1px solid #ddd;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 12px;
}

.JCLRgripDrag {
    border-left: 1px dotted red !important;
}

.JCLRgrip {
    margin-left: 0px;
}

.grip {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #959595;
    margin-left: -12px;
    z-index: 88;
}

.grip:hover {
    cursor: pointer;
    border-top: 10px solid red;
}

.dragging .grip {
    background-position-x: -40px;
}

.inline {
    display: inline;
    padding-right: 20px;
}

.navbar .nav > .active > a.blue,
.navbar .nav > .active > a.blue:hover,
.navbar .nav > .active > a.blue:focus {
    color: #3d95cc;
}

.navbar .nav > .active > a.magenta,
.navbar .nav > .active > a.magenta:hover,
.navbar .nav > .active > a.magenta:focus {
    color: #aa1f4d;
}

.blue {
    background-color: #3d95cc;
}

.blue-text {
    color: #3d95cc;
}

/* Schedule colors */
.schedule-color {
    color: #3d95cc;
}

.schedule-bg {
    background-color: #3d95cc;
    color: white;
}

.schedule-bg:hover {
    background-color: #2c7aab;
    color: white;
}

.schedule-bg.disabled {
    background-color: #bebebe;
    color: gray;
}

/* History colors */
.history-color {
    color: #9040b0;
}

.history-bg {
    background-color: #9040b0;
    color: white;
}

.history-bg:hover {
    background-color: #793596;
    color: white;
}

.history-bg.disabled {
    background-color: #bebebe;
    color: gray;
}

/* In-Progress colors */
.in-progress-color {
    color: #2ca081;
}

.in-progress-bg {
    background-color: #2ca081;
    color: white;
}

.in-progress-bg:hover {
    background-color: #2d7e68;
    color: white;
}

.in-progress-bg.disabled {
    background-color: #bebebe;
    color: gray;
}

/* Maintenance colors */
.maintenance-color {
    color: #aa1f4d;
}

.maintenance-bg {
    background-color: #aa1f4d;
    color: white !important;
}

.maintenance-bg:hover {
    background-color: #8a1f4d;
    color: white;
}

.maintenance-bg:focus {
    background-color: #8a1f4d;
    color: white;
}

.maintenance-bg.disabled {
    background-color: #bebebe;
    color: gray;
}

.nav-tabs > li > a.maintenance-bg:hover {
    background-color: #6a1f4d !important;
    border: 1px solid #6a1f4d;
    border-bottom: 1px solid gray;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.magenta {
    background-color: #aa1f4d;
}

.magenta-text {
    color: #aa1f4d;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #3d95cc;
}

.pagination.pagination-magenta ul > li > a {
    color: #aa1f4d;
}

.pagination.pagination-magenta ul > li > a:hover,
.pagination.pagination-magenta ul > li > a:focus,
.pagination.pagination-magenta ul > .active > a,
.pagination.pagination-magenta ul > .active > span {
    background-color: #aa1f4d;
    color: #fff;
}

.interflon-logo {
    width: 96px;
    height: 64px;
    background: url(../img/sprite.png) 0 0;
}

a.active {
    color: #333333;
    text-decoration: none;
}

a.inactive {
    cursor: default;
    color: #cccccc;
    text-decoration: none;
}

.active .i-schedule {
    background-position: -76px -130px;
}

.active .i-inprogress {
    background-position: -76px -162px;
}

.active .i-history {
    background-position: -76px -194px;
}

.active .i-settings {
    background-position: -76px -164px;
}

.active .i-maintenance {
    background-position: -76px -96px;
}

/*@media (min-width: 768px) {*/
table td.unpin {
    position: absolute;
    z-index: 600;
    right: 20px;
}

table th.unpin {
    display: none;
}

/*}*/

@media (min-width: 1350px) {
    .to-right {
        position: fixed;
        /*z-index:1000;*/
        right: 0;
        padding-right: 30px;
    }
}

.date-z-index {
    z-index: 1000;
}

.modal {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

}

.bigModal {
    width: 940px;
    margin-left: -470px;
}

.modal-label {
    padding-top: 5px;
    padding-bottom: 10px;
}

.unpin.blue.active {
    background-color: #3d95cc;
}

.unpin.blue.inactive {
    /*background-color: #cccccc;*/
}

.sort-both {
    width: 16px;
    height: 16px;
    background: url('../img/sort_both.png') no-repeat center right;
}

.sort-asc {
    width: 16px;
    height: 16px;
    background: url('../img/sort_asc.png') no-repeat center right;
}

.sort-desc {
    width: 16px;
    height: 16px;
    background: url('../img/sort_desc.png') no-repeat center right;
}

.select2-choice {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    min-width: 30px !important;
    line-height: 30px !important;
    height: auto !important;
    background-image: none !important;
}

.select2-results {
    font-size: 11px !important;
}

.select2-results li {
    line-height: 15px;
}

.control-group.error .select2-container {
    border-color: #ff0039;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error .select2-container .select2-choice {
    border-color: #ff0039;
    color: #ff0039 !important;
}

.select2-container {
    width: 220px;
}

.modal-header {
    background-color: black;
}

.modal-header .close {
    color: white;
}

.modal-header h4 {
    color: white;
    font-size: 16px;
}

.modal-header h3 {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.modal-footer {
    border-top: 1px solid #ddd;
}

.form-horizontal .control-group {
    margin-bottom: 10px;
}

.user-panel {
    color: white;
    font-size: 13px;
    padding-top: 15px;
}

.user-panel span {
    display: block;
    line-height: 16px;
}

.user-panel a {
    color: #ff1f4d;
}

blockquote {
    margin: 0 0 10px;

}

blockquote p {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
    text-decoration: underline;
}

blockquote small {
    font-size: 12px;
    line-height: 18px;
    color: #8c8c8c;
}

.datepicker {
    cursor: pointer !important;
    z-index: 100;
}

.dropdown-menu {
    z-index: 9999;
}

.picker {
    cursor: pointer;
}

.machine_element {
    border-bottom: 1px dotted #cecece;
    padding: 3px;
    font-weight: bold;
}

.machine_department {
    font-weight: normal;

}

.machine_location {
    font-weight: normal;

}

.frame {
    border: 1px solid #ddd;
    margin-top: 4px;
    padding: 10px;
    margin-bottom: 15px;
}

.company_profile dd {
    margin-left: 160px;
}

.company_profile dt {
    width: 140px;
}

.table tbody tr.inactive > td {
    background-color: #d5d5d5;
}

.table tbody tr.unplanned > td {
    background-color: rgb(222, 224, 163);
}

.input-error .select2-choices {
    border: 1px solid red !important;
}

.table th, .table td {
    word-break: inherit;
    vertical-align: top !important;
    /*text-align: left !important;*/
}

.remark-table td {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 25px;
}

div.frame table td.frame-title {
    width: 35%;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
}

.frame table th, .frame table td {
    word-break: inherit;
    vertical-align: top !important;
}

.remark.hidden {
    display: none;
}

div.ajax-loader-big {
    background: url('../img/ajax-loader.gif');
    height: 128px;
    width: 128px;
    display: block;
}

div.company_profile {
    position: relative;
}

div.company_profile img.thumb {

    max-width: 100px;
    max-height: 100px;
}

div.company_profile .remove-logo {
    position: absolute;
    top: -10px;
    right: -10px;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: none;
    background: url('../img/icon_remove.png') no-repeat;
    height: 25px;
    width: 25px;
}

div.company_profile .logo {
    /*position: absolute;*/
    /*right: 15px;*/
}

div.company_profile div.logo:hover > .remove-logo {
    display: block;
}

.nav-schedule,
.nav-inprogress,
.nav-history,
.nav-maintenance,
.nav-settings {
    border: 3px solid #222222;
}

.nav-schedule.active {
    border-color: #3d95cc;
}

.nav-inprogress.active {
    border-color: #2ca081;
}

.nav-history.active {
    border-color: #9040b0;
}

.nav-maintenance.active {
    border-color: #c00000;
}

.removeMe {
    cursor: pointer;
}

#main-nav-right, #main-nav-left {
    height: 80px;
}

#main-nav-right [class^="i-"], [class*=" i-"],
#main-nav-left [class^="i-"], [class*=" i-"] {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .brand-logo.rotated {
        font-size: 34px;
        line-height: 40px;
        padding: 0;
        margin-top: 14px;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
    }

    .brand-logo.company-logo {
        padding: 5px 0 5px 5px;
    }

    .brand-logo.company-logo img {
        max-height: 70px;
    }

    #mainContent {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    #main-nav-left.nav,
    #main-nav-right.nav {
        text-align: center;
        overflow: hidden;
    }

    #main-nav-left.nav > li,
    #main-nav-right.nav > li {
        display: inline-block;
    }

    .brand-logo.company-logo {
        padding: 5px;
    }

    .brand-logo.company-logo img {
        max-height: 40px;
    }

    .navbar hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .navButton {
        width: 32%;
    }

}

@media (max-width: 991px) {
    .user-panel {
        padding: 0;
    }

    .user-panel a {
        color: inherit;
    }

    .user-panel {
        float: none;
    }
}

#main-nav-left.navbar-nav > li > a,
#main-nav-right.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 80px;
}

#login-form {
    max-width: 400px;
}

.modal-header h3 {
    font-size: 20px;
    margin: 0;
}

#login-form .modal-body {
    padding-bottom: 0;
}

#login-form .modal-footer {
    padding: 10px 20px 20px;
}

.navbar .divider-vertical {
    margin: 0 9px;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
}

a.brand-logo:hover {
    opacity: 0.7;
}

.machine-part-badge {
    text-decoration: none !important;
}

.machine-part-badge .badge {
    border-radius: 0;
}

input[type=number].form-control {
    max-width: 100px;
}

/* import / export box on company profile */

div#import-export-box {
    background: #fff;
    font-size: 14px;

}

div#import-export-box > div.well {
    background: #eee;
    border: none;
    border-left: 5px solid #ccc;
}

div#import-export-box > div.well.alert-info {
    background-color: #9954bb;
    border-left: 5px solid #755397;
}

div#import-export-box div.well p.title {
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

div#import-export-box div.well p span {
    color: #8a000d;
    font-weight: bold;
}

div#import-export-box div.well p a {
    text-decoration: underline;
}

div#import-export-box div.well > div.well {
    border: none;
    background: #dfdfdf;
    margin-bottom: 0;
}

div#import-export-box .form-control {
    background: none;
    border: none;
    box-shadow: none;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
    padding: 10px 20px;
    margin: /*20px */ 0 0 10px;
    border: 1px solid #e6e6e6;
    border-left-width: 5px;
    border-radius: 0px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
    margin-top: -5px;
}

/* Variations */
.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-danger h4 {
    color: #ce4844;
}

.bs-callout-warning {
    border-left-color: #aa6708;
}

.bs-callout-warning h4 {
    color: #aa6708;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.bs-callout-info h4 {
    color: #1b809e;
}

/* Machine part page */

.photo {
    height: 300px;
    margin: 18px 0;
}

.image-editor-modal {
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.slider.slider-horizontal .slider-track {
    height: 3px !important;
}

.slider-handle {
    width: 15px !important;
    height: 15px !important;
    background-color: #2780e3 !important;
    background-image: none !important;
}

.imageEditorControl {
    cursor: pointer;
}

.imageEditorControl:hover {
    color: #2780e3;
}

.image-hover-info {
    display: none;
    height: 20px;
    background: #555555;
    position: relative;
    top: -20px;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    line-height: 20px;
    cursor: pointer;
    opacity: 0.7;
    font-size: 12px;
    font-weight: bold;
}

.image-hover-info:hover {
    display: block;
    opacity: 0.9;
}

img:hover + .image-hover-info {
    display: block;
}

.image-container a {
    text-decoration: none;
}

#imageEditorNav {
    font-size: 22px;
    display: table;
    margin:0 auto;
}

#imageEditorNav li {
    float: none;
    display: table-cell;
}

#additional-messages .alert-success,
#additional-messages .alert-danger {
    padding: 10px;
    border: 1px solid black;
}

#toppestBar {
    background-color: #333;
    margin: 0;
}

#identityBoxDesktop {
    color: #c6c6c6;;
    padding: 4px 15px 4px 0;
}

#identityBoxMobile {
    padding: 10px 10px;
    /*margin-top: -21px;*/
    /*margin-bottom: 20px;*/

    background-color: #333;
    color: #c6c6c6;;
}


#helpdeskBoxDesktop {
    height: 28px;
}

#helpdeskBoxMobile {
    height: 50px;
}

.helpdeskButton {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: white;
    /*background-color: #aa1f4d;*/
    height: 28px;
    line-height: 28px;
    margin-left: -15px;
    padding: 0 50px 0 10px;
    z-index: 1;
    cursor: pointer;
}

#helpdeskBoxMobile .helpdeskButton {
    background-color: #aa1f4d;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
}

#helpdeskBoxDesktop .helpdeskButton:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: #aa1f4d;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
    z-index: -1;
}

.helpdeskButton .glyphicon {
    font-size: 120%;
    position: relative;
    top: 3px;
    margin-right: 4px;
}

.headset-icon {
    background: url(../img/icons/headset.svg);
    display: inline-block;
    background-size: cover;
    width: 48px;
    height: 48px;
}

#initial-messages .alert-success,
#initial-messages .alert-danger {
    padding: 10px;
    border: 1px solid black;
}

.maintenance-breadcrumbs {
    margin-top: 10px;
}

.maintenance-breadcrumbs li.active {
    font-weight: bold;
    color: #aa1f4d;
}

.maintenance-breadcrumbs a {
    color: #bbb;
    text-decoration: none;
}

.maintenance-breadcrumbs a:hover,
.maintenance-breadcrumbs a:active {
    color: #aa1f4d;
}

tr.separator {
    border-top: 2px solid #777;
}


/*   ------------------------------------------------    */

.image-editor-modal .tab-content{

    padding: 0 10px;

    margin: 0 auto;

    box-sizing: border-box;

    border: 0;
}

.canvas-container{

    margin: 0 auto;
}

.subBtnsContainer{
    display: table;
    margin: 0 auto;
}
.subBtnsContainer span{
    display: table-cell;
}

#cropSubMenu input {
    width : 50px;
}

#drawingCanvas{
    border : 1px solid #333;
}

#drawSubBtns{
    display: table;
    table-layout: fixed;
    margin: 0 auto;
    font-size: 18px;
    /*safari orientation fix */
    min-width: 615px;
    max-width: 635px;
}
#drawSubBtns .drawCell{
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
}

#draw_palette.drawCell{
    width: 282px;
    /*safari orientation fix */
    min-width: 282px;
    max-width: 282px;
    padding: 0;
    margin: 0;
}

#set_lineSize {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 110px;
}
#set_lineSize select{
    font-size: 12px;
    width: 40px;
    /* margin: 0 auto; */
    padding: 0;
    line-height: 12px;
    top: 0px;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.draw_icon{
    cursor: pointer;
    padding: 7px 5px;
    color: #000;
}
.draw_icon:hover{
    color: #0f82f5;

}
.draw_icon.active{
    background: #e6e6e6;
    color: #000;
}

.paletteTable{
    display: table !important;
    margin: 0 auto;
    border-spacing: 0px;
    border-collapse: separate;
    width: 282px;
}
.paletteCell{
    display: table-cell;
    vertical-align: middle;
    height: 27px;
}

#draw_palette button{
    padding: 0;
    height: 20px;
    width: 20px;
    margin: 1px 1px 0 1px;
    line-height: 0;
    box-shadow: none;
    border: 0px;
}
#draw_palette button.active {
    border: 4px inset #000;
}

input#colorpickerCanvas{
    opacity : 0;
    width : 1px;
}

#trash_can{
    color: #CCCCDD;
    border-left: 1px solid #ccc;

}

#trash_can.active{
    color: #000;
    cursor: pointer;
}

#applyCrop:disabled{
    background: rgba(255,255,255, .3);
    color: #ccc;
}

.colorpicker{
    z-index : 9999;
}

.colorpickerLabel{
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    color: black;
    padding: 0 0 0 10px;
    font-weight: normal;
}

#set_lineSize span.lineStrokes{
    display: inline;
    padding: 0 5px;
}

.sp-replacer{
    /*display: none !important;*/
    width: 1px;
    height: 1px;
    overflow: hidden;
}


@media all and  (max-width: 1024px),
all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait),
all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape),
all and (device-width: 1024px) and (device-height: 768px){

    .client-modal {
        background: #000;
    }



    .image-editor-modal {
        position: relative;
        overflow-y: auto;
        overflow-x: auto;
        top: 0;
        left: 0;
        margin: 0;
    }

    .image-editor-modal .modal-header button.close{
        display: none;
    }

    body.modal-open {
        left: 0;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .image-editor-modal .modal-footer{
        text-align: left;
        position: absolute;
        top: -7px;
        width: 100%;
        left: 100px;
        overflow: hidden;
        box-sizing: border-box;
    }

    .image-editor-modal .tab-content{
        float: left;
    }

    #imageEditorNav{
        margin : 0;
    }
    .subBtnsContainer{
        margin: 0;
    }

    #imageContainer {
        overflow-x: auto;
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        padding: 10px;
    }

    body.modal-open #toppestBar,
    body.modal-open .navbar,
    body.modal-open #mainContent{
        display: none;
    }

    #drawSubBtns{
        /* width: 100%; */
        position: relative;
        min-width: 378px;
        max-width: 690px;
        display: block;
    }

    #drawSubBtns .drawCell{
        display: block;
        font-size: 140%;
        padding: 0 10px 0 0;
    }

    #draw_btns{
        max-width: 200px;
        float: left;
        padding: 0;
        margin: 0;
        line-height: 140%;
    }
    #set_lineSize select{
        font-size: 100%;
        width: 70px;
    }
    #set_lineSize.drawCell{
        width: 145px;
        float: left;
        line-height: 140%;
    }

    #draw_palette.drawCell{
        clear: both;
        float: left;
        text-align: left;
        display: block;
    }
    .paletteTable{
        padding: 0px 0 0 0;
        margin: 10px 0 5px 0;
    }

    #trash_can.drawCell{

        width: 50px;
        float: left;
        margin: 10px 0 5px 0;
    }

}

